* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
     background-color: hsl(0, 0%, 8%)
     
}

#card-section {
    margin: 150px 25px;
    font-family: 'inter',sans-serif;
}

.container {
    background-color: hsl(0, 0%, 12%);
    width: 350px;
    height: 550px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
    
}
h1 {
    color: hsl(0, 0%, 100%);
    padding: 25px 0 10px 0;
    font-size: 28px;
    font-weight: 700;
}

h2 {
    color: hsl(75, 94%, 57%);
    padding-bottom: 25px;
    font-size: 16px;
    font-weight: 500;
}

.bio {
    color: white;
    font-size: 14px;
    padding-bottom: 20px;
}

#social-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}

.social-link {
    color: #ffffff;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
     padding: 12px 0;
    cursor: pointer;
    font-weight: 500;
      
}

.social-link:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}

@media screen and (min-width: 550px) {
    #card-section {
    margin-top: 250px;
    margin-bottom: 250px;
    }

    .container {
        width: 450px;
       
    }
    
}